@font-face{
  font-family: myFirstFont;
  src: url(Container.woff);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: myFirstFont;
  
}


.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(images/landing.jpg);
    display: table;
    top: 0;
    background-size: cover;
    border: solid #fff;

}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}


.content{
    max-width: 500px;
    margin:0 auto;
    text-align: center;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 50px;
    
}

.content h1 {
    font-family: myFirstFont;
    color: #000;
    text-shadow: 0px 0px 300px #000;
    font-size: 350%;
    

}

.content h3 {
    font-family: myFirstFont;
    color: #000;
    font-size: 150%;
    

}

.btn{
    border-radius:9px ;
    border: solid #000;
    color: rgba(247, 247, 248, 0.932);
    background: #000;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 20px ;
}

.btn:hover{
    color: #000;
    background: white;
    border: solid #000 3px;

}

#about-me, #previous-work, #contact-me{
    height: 100vh;
    width: 80%; 
    font-size: 100%;
    line-height: 210%;
    text-align: center;
    padding-left: 130px;
    padding-top: 30px;
    padding-bottom: 50px;

}


a
{
  text-decoration: none;
  color: #000;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #000;
  
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

footer {
  margin-top: 2rem;
  background: #000;
  color: white;
  text-align: center;
  width: 100%;
  
}

@media screen and (max-width: 768px){
    .intro{
        background-size: auto;
    }
    .content h1{
        font-size: 150%;
    }  
    
    .content h3{
      font-size: 90%;
    }

    .btn{
        font-size: 110%;
        padding: 7px 15px;
        color: white;
        background: #000;
        

    }

    p{
        font-size: 100%;
        line-height: 160%;
    }

    a:hover
    {
      color: #000;
  
    } 

    #menuToggle span{
      background:#000;
    }
    
    #menuToggle input:checked ~ span{
      background: #000;
    }


}
